#most-viewed
  .row:nth-child(2) .col-xs-12:nth-child(2)
    display: none

    @media (min-width: $screen-xs-min)
      display: block

  .row:nth-child(2) .col-xs-12:nth-child(3)
    display: none

    @media (min-width: $screen-sm-min)
      display: block

  .col-xs-12
    .block-bot-lg
      padding-bottom: 30px

  .article-tile
    overflow: auto
    border: none
    
    // img
    //   height: 200px
    //   width: auto
    //   margin: 0 auto

  .dot
    width: 10px
    height: 10px
    background: $md-grey
    border-radius: 50%
    display: inline-block
    margin: 0 5px

    &.active
      border: 1px solid $md-grey
      background: transparent