.article-tile
  margin: 0 auto 40px
  width: 90%

  @media (min-width: $screen-sm-min)
    width: 80%
  
  hr
    max-width: 160px

.col-sm-12
  .article-tile
    max-width: 600px

    h2
      font-size: 2em

.article-tile-xs
  margin: 0 auto 20px
  width: 100%