extends layout

include partials/mixins/article-tile
include partials/mixins/article-tile-sm
include partials/mixins/article-tile-xs
//- title, img, author, date, ...tags

block append vars
  - bodyclass = 'article-view'

block content
  .content-wrap
    .row
      .col-xs-6
        h1 News

      .col-xs-6.text-right
        h4 
          i.fa.fa-heart
          span  Favourites
      
    hr

    .row
      .col-xs-12
        p &lt; Previous

    .row.article-masthead
      .col-xs-12
        .block-ver-lg.text-center
          h2 Breaking News: Big changes at Burberry... Céline’s Gobbetti to replace Bailey as CEO, Brown to become COO, CFO as Fairweather quits financial post
          p By Nigel Taylor
          p Burberry Group has named luxury veteran and Céline head Marco Gobbetti as its surprise new chief executive, replacing Christopher Bailey. The news sent Burberry’s...
          p 7 hours ago / Menswear, Retail, Womenswear

        hr

        .block-ver-lg.text-center
          img(src="../img/rectangle.jpg" width="100%")

    .row
      .col-xs-12.col-sm-12.col-md-8
        .article-text.block-bot-lg
          p Burberry Group has named luxury veteran and Céline head Marco Gobbetti as its surprise new chief executive, replacing Christopher Bailey. The news sent Burberry’s shares up 6.4% in afternoon trading.
          p Bailey, 45, steps down from his two-year tenure after attracting criticism for holding the dual roles of both chief executive and creative head, the latter position he maintains as well as the title of president.
          p Gobbetti, currently the CEO and chairman of the French fashion house owned by LVMH, will take up his new role next year, although Burberry did not give a date. He will be responsible “for all commercial, operational and financial elements of the business”.
          p Gobbetti has worked in luxury for the past 20 years on brands such as Givenchy, Moschino and Bottega Veneta.
          p His appointment comes as Burberry, due to give its Q1 trading statement Wednesday, has found it tough going in the wider luxury downturn, especially in Greater China and the US. Under Bailey’s tenure, Burberry announced a string of cost-cutting measures to the tune of £100m a year by 2019, plus a share-buyback, as it reported a fall in profits.
          p Burberry’s shares have fallen 22% since Bailey replaced longtime CEO Angela Ahrendts at the helm.
          p On the new boss, Bailey said: “On a personal level, I know that we are going to enjoy a wonderfully collaborative partnership that makes me very excited for our future at Burberry.
          p Commenting on the news, WGSN chief content officer Carla Buzasi said: “The City has always been nervous about Christopher as both CEO and Chief Creative Officer. I disagree with the concept that a creative leader cannot be a commercial leader, which seemed to be the opinion of many, but completely understand the view that on a practical level, the reality of juggling two huge roles, would be difficult for even the very best.
          p “It’s therefore unsurprising that the market has reacted so positively to the news that a new CEO has been hired, giving Bailey the time and space to concentrate on creating the very best collections, and building the very best brand, and allowing one person to fully concentrate on the role of CEO.”
          p Also next year, Julie Brown will become chief operating officer and chief financial officer replacing current CFO Carol Fairweather, who has decided to “pursue new opportunities”. Brown will join from global medical technology business Smith & Nephew, again starting date unknown. Fairweather will step down from the board by the end of next January and leave at the end of the financial year.
          p Burberry chairman Sir John Peace said: “With Julie’s appointment, we have an individual who has an outstanding track record in the commercial and financial aspects of a global business as well as business transformation.

        hr

      .col-xs-12.col-sm-12.col-md-4
        .block-bot-lg
          ul.ul-bare
            li.text-uppercase
              i.fa.fa-envelope
              span  Email
            li.text-uppercase
              i.fa.fa-print
              span  Print
            li.text-uppercase
              i.fa.fa-heart
              span  Add to Favourites

        hr
        h3 Related News
        hr
        +article-tile-xs("Breaking News: Big changes at Burberry… Céline’s Gobbetti to replace Bailey as CEO, Brown to become COO, CFO as Fairweather quits financial post", "../img/rectangle.jpg", "Nigel Taylor", "6 Hours Ago", "Menswear", "Retail", "Womenswear")
        +article-tile-xs("Breaking News: Big changes at Burberry… Céline’s Gobbetti to replace Bailey as CEO, Brown to become COO, CFO as Fairweather quits financial post", "../img/rectangle.jpg", "Nigel Taylor", "6 Hours Ago", "Menswear", "Retail", "Womenswear")
        +article-tile-xs("Breaking News: Big changes at Burberry… Céline’s Gobbetti to replace Bailey as CEO, Brown to become COO, CFO as Fairweather quits financial post", "../img/rectangle.jpg", "Nigel Taylor", "6 Hours Ago", "Menswear", "Retail", "Womenswear")