extends layout

include partials/mixins/article-tile
//- title, img, author, date, ...tags

block append vars
  - bodyclass = 'index'

block content
  .content-wrap
    .row
      //- .col-xs-12
      //-   .banner-container.block-ver-md
      //-     .flex-center.bg-lt-grey.block-hor-lg.text-center: p Cut through the noise with our curation of the must-read, most important, need-to-know industry developments
      
      .col-xs-12.text-center.block-bot-md
        .inline-block.block-hor-sm
          p.tight Filter by
        
        .inline-block.block-hor-sm
          select
            option All countries
            option USA
            option UK
            option Australia

        .inline-block.block-hor-sm
          select
            option All categories
            option Accessories
            option Active
            option Beauty

    hr

    .row.block-top-lg
      .col-xs-12.col-sm-12.col-md-12: +article-tile("Burberry sees challenges globally but digital remains bright spot", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/burberry.png", "Nigel Taylor", "6 Hours Ago", "Accessories", "Ecommerce", "Menswear", "Retail", "Womenswear")

    .row
      .col-xs-12.col-sm-6.col-md-6: +article-tile("Max Azria “no longer running” BCBG as Staff is appointed interim CEO", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/bcbg.png", "Nigel Taylor", "9 Hours Ago", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-6: +article-tile("Pierre Hardy set for global expansion as Hermès takes minority stake", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/p-hardy-holding-2.png", "Nigel Taylor", "9 Hours Ago", "Footwear", "Accessories", "Retail")
      .col-xs-12.col-sm-6.col-md-6: +article-tile("M&S heads back to basics as fashion takes a back seat to quality, fit and price", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/marks-spencer.png", "Nigel Taylor", "9 Hours Ago", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-6: +article-tile("Jack Wills to cut jobs in turnaround plan", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/jack-wills-holding-1.png", "Nigel Taylor", "9 Hours Ago", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-6: +article-tile("John Lewis weekly sales recover on clearance, warm weather goods demand", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/john-lewis-.png", "Nigel Taylor", "9 Hours Ago", "Interiors", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-6: +article-tile("LVMH invests $50m in South Korean cosmetic brand", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/clio.jpg", "Erica Ng", "9 Hours Ago", "Beauty", "Retail")

    .row
      .col-xs-12.col-sm-6.col-md-4: +article-tile("South Korean retailer confidence down for Q3, but online remains buoyant", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/korea-retail.jpg", "Erica Ng", "9 Hours Ago", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-4: +article-tile("As Sa Sa profits plummet, beauty brand to restructure with small format boutiques", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/sasa-hk.jpg", "Erica Ng", "9 Hours Ago", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-4: +article-tile("Steinhoff buys UK discounter Poundland", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/poundland.png", "Erica Ng", "10 Hours Ago", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-4: +article-tile("Levi’s profits on lower charges, won’t quit on suffering US department stores", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/levis-holding.png", "Nigel Taylor", "12.07.16", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-4: +article-tile("Asos powers ahead and no initial mention of Brexit", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/asos.png", "Nigel Taylor", "12.07.16", "Menswear", "Retail", "Womenswear")
      .col-xs-12.col-sm-6.col-md-4: +article-tile("UK retail spending slowed in June, clothing weak on poor weather – BRC", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/uk-high-street.png", "Nigel Taylor", "12.07.16", "Menswear", "Retail", "Womenswear")

    .row
      .col-xs-12.text-center
        button See more stories