doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN News
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/flexboxgrid.css")
    //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css", rel="stylesheet")
    script(src="https://use.fontawesome.com/7c5bf366d0.js")
  
  body(class=bodyclass)
    header.bg-black
      .content-wrap
        a.pull-right.block-sm(href="/search-results") Search results
    
    #content.block-ver-lg
      .content-wrap
        .row
          .col-xs-6
            a(href="/").inline-block.block-right-md: h1.tight News
            p.search-term-desktop Search results for "asos"

          .col-xs-6.text-right
            a(href="/favourites").block.block-top-sm
              h4.tight
                i.fa.fa-heart
                span  Favourites
          
        hr
      
      block content

    footer.block-ver-md.text-center.bg-black
      p.tight.text-smaller Home&nbsp;&nbsp;|&nbsp;&nbsp;About WGSN&nbsp;&nbsp;|&nbsp;&nbsp;Help&nbsp;&nbsp;|&nbsp;&nbsp;Legal Info

  //- include partials/scripts