mixin article-tile(title, img, author, date, ...tags)
  .article-tile.block-bot-lg
    hr
    a.article-title-1(href="/article"): h2.text-center= title
    img(src=img width="100%")
    a.article-title-2.block.block-top-sm(href="/article"): h3.text-center= title
    
    .text.block-top-sm.block-hor-sm.text-center
      p.article-tile-author By 
        span= author
      p.article-tile-date= date
      ul.ul-bare.text-center.tight.article-tile-tags
        each tag in tags
          li.inline-block.block-hor-xs.text-underline.tight= tag