mixin article-tile(title, img, author, date, ...tags)
  .article-tile
    .block-bot-md: a(href="/article"): h2.text-center= title
    img(src=img width="100%")
    
    .text.block-md.text-center
      p.tight By 
        span= author
      p.tight= date
      ul.ul-bare.text-center
        each tag in tags
          li.inline-block.block-hor-xs.text-underline= tag

    hr