extends ../layout

include ../partials/mixins/article-tile
//- title, img, author, date, ...tags

block append vars
  - bodyclass = 'article-view'

block content
  .content-wrap
    .row.block-top-lg
      .col-xs-12.col-sm-12.col-md-8
        .article-masthead.text-center
          .block-hor-lg
            h2 Burberry sees challenges globally but digital remains bright spot
            p.article-author.serif.text-italic.text-grey By 
              a.text-underline(href="/author") Nigel Taylor
            p.article-subline.text-bigger.block-ver-sm No new shocks for Marco Gobbetti Wednesday but the Burberry CEO-in-waiting will be fully aware of the challenges that await him early next year. Hit...
            p.article-date.serif.text-italic.text-grey 9 hours ago
            ul.article-tags.ul-bare.text-center
              li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Ecommerce
              li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Menswear
              li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Retail
              li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Womenswear
          
          .block-ver-lg: img(src="https://www.wgsn.com/news/wp-content/uploads_21/2016/07/burberry.png" width="100%")
        
        .article-utilities-mobile.block-bot-md
          ul.ul-bare.text-center
            li.text-uppercase.inline-block.block-hor-sm
              i.icon.icon-envelope
              span.wgsn-font  Email
            //- li.text-uppercase.inline-block.block-hor-sm
            //-   i.fa.fa-print
            //-   span  Print
            li.text-uppercase.inline-block.block-hor-sm
              i.icon.icon-heart
              span.wgsn-font  Add to Favourites
        
        .article-text.block-bot-lg
          p No new shocks for Marco Gobbetti Wednesday but the Burberry CEO-in-waiting will be fully aware of the challenges that await him early next year. Hit by broad-based weakness in all its major regions, the UK luxury fashion house saw Q1 same-store sales slip 3%, a marked slowdown from the 6% growth of a year ago.
          p Burberry said it faces “challenging and underlying cost inflation pressures,” adding that its outlook for the US in particular is “cautious”.
          p Currency-neutral revenues were flat at £423m ($563m) with Asia, Europe/Middle East and The Americas all recording lower retail sales. However, Asia Pacific would have been up excluding continuing weak sales in Hong Kong and Macau.
          p Burberry said its sales in the UK also improved in the final weeks of the quarter to mid-single-digit percentage comps growth but the company was hit by double-digit declines in sales to travelling luxury customers in European destinations, particularly France and Italy. In the US, Burberry said it continued to see “uneven demand,” and that spending from tourists remained down by a double-digit percentage.
          p So Burberry now expects wholesale revenue in the six months ending September 30 to be down by over 10% from last year, compared with May’s forecast decline of “around 10%”.
          p But there were also some bright spots. The pound’s hefty fall in value against the dollar since the EU referendum result means Burberry’s profits will be boosted to £90m from the £50m forecast in April.
          p burberry 3burberry 2Fashion apparel and accessories outperformed in the quarter with “good customer response to innovation and newness.” That newness includes the Patchwork bag that Burberry has been pushing heavily in its latest ad campaign and the runway rucksack that has proved to be a major accessories hit.
          p Online sales also grew strongly in all regions, driven by mobile, which is now approaching 60% of sales, a major feat given widespread expectations that traditional computing is more suitable to luxury brands than smartphones.
          p Chief executive Christopher Bailey said: “In what remained a challenging external environment, underlying retail sales were flat in the first quarter.
          p “In this context, we continue to focus on managing our business with agility whilst implementing the ambitious evolution of our strategies and ways of working we outlined in May, to position Burberry for long-term growth.”
          p On Monday, Burberry announced that Bailey will step down as chief executive to be replaced by Celine’s chief Gobbetti. Bailey will then add the title of president to his current role of chief creative officer.
          p Both top execs will report in to Burberry’s chairman rather than Bailey reporting to Gobbetti, causing some analysts to question the new management structure in which the new CEO will not be the senior executive.
        
        .block-bot-lg.text-center.text-bigger
          i.fa.fa-facebook.block-hor-sm
          i.fa.fa-twitter.block-hor-sm
          i.fa.fa-google-plus.block-hor-sm
          i.fa.fa-pinterest-p.block-hor-sm
          i.fa.fa-linkedin.block-hor-sm

      .col-xs-12.col-sm-12.col-md-4
        .article-utilities-desktop.block-bot-lg
          ul.ul-bare
            li.text-uppercase
              i.icon.icon-envelope
              span.wgsn-font  Email
            li.text-uppercase
              i.icon.icon-print
              span.wgsn-font  Print
            li.text-uppercase
              i.icon.icon-heart
              span.wgsn-font  Add to Favourites

        h3 Related News
        hr
        +article-tile("Max Azria “no longer running” BCBG as Staff is appointed interim CEO", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/bcbg.png", "Nigel Taylor", "9 Hours Ago", "Retail", "Womenswear")
        +article-tile("John Lewis weekly sales recover on clearance, warm weather goods demand", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/john-lewis-.png", "Nigel Taylor", "9 Hours Ago", "Interiors", "Menswear", "Retail", "Womenswear")
        +article-tile("Asos powers ahead and no initial mention of Brexit", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/asos.png", "Nigel Taylor", "12.07.16", "Menswear", "Retail", "Womenswear")