extends ../layout

include ../partials/mixins/article-tile
//- title, img, author, date, ...tags

block append vars
  - bodyclass = 'article-view'

block content
  .content-wrap
    .row.block-top-lg
      .col-xs-12.col-sm-12.col-md-8
        .article-masthead.text-center
          h2 ASOS powers ahead and no initial mention of Brexit
          p.article-author.serif.text-italic.text-grey By 
            a.text-underline(href="/author") Nigel Taylor
          p.article-subline.text-bigger.block-ver-sm And now for something completely different… A UK fashion retailer that’s seeing surging sales. Yes, Asos is flying with sales up almost third in the four...
          p.article-date.serif.text-italic.text-grey 9 hours ago
          ul.article-tags.ul-bare.text-center
            li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Ecommerce
            li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Menswear
            li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Retail
            li.inline-block.block-hor-xs.tight.text-smaller.wgsn-font.text-grey Womenswear
          
          .block-ver-lg: img(src="https://www.wgsn.com/news/wp-content/uploads_21/2016/07/asos.png" width="100%")
        
        .article-utilities-mobile.block-bot-md
          ul.ul-bare.text-center
            li.text-uppercase.inline-block.block-hor-sm
              i.icon.icon-envelope
              span.wgsn-font  Email
            //- li.text-uppercase.inline-block.block-hor-sm
            //-   i.fa.fa-print
            //-   span  Print
            li.text-uppercase.inline-block.block-hor-sm
              i.icon.icon-heart
              span.wgsn-font  Add to Favourites
        
        .article-text.block-bot-lg
          p And now for something completely different… A UK fashion retailer that’s seeing surging sales. Yes, Asos is flying with sales up almost third in the four months to June 30 and a promise to end the year up maybe 25% ahead. All that and not one trading statement mention of the ‘B’ word from an online fashion retail giant operating a world away from the beleaguered high street.
          p Retail sales for the four months period were up 30% to £500.5m, or up 26% currency neutral, underpinned by continued price and proposition investments.
          p UK sales grew 28% and International was up an even better 31% with the retailer saying it has seen a further acceleration across the US, EU, and rest of world segment.
          p As anticipated, retail gross margin for the period was down 180 basis points, about 40% of which is due to moving its main sale period forward one week from a year ago.
          p Its retail gross margin guidance of up to 50 basis points and the retailer said it remains confident in delivering current market expectations for pre-tax profit.
          p Later in a conference call, that ‘B’ word came up and chief executive Nick Beighton said: “In terms of the EU referendum, it’s difficult to predict what the long-term consequences are going to be for both the UK and Asos.
          p “But in the shorter term, Asos stands to gain,” he said. “In the medium term, we are expecting a benefit from the weaker exchange rate,” as Asos generates around 60% of its sales overseas.

        .block-bot-lg.text-center.text-bigger
          i.fa.fa-facebook.block-hor-sm
          i.fa.fa-twitter.block-hor-sm
          i.fa.fa-google-plus.block-hor-sm
          i.fa.fa-pinterest-p.block-hor-sm
          i.fa.fa-linkedin.block-hor-sm

      .col-xs-12.col-sm-12.col-md-4
        .article-utilities-desktop.block-bot-lg
          ul.ul-bare
            li.text-uppercase
              i.icon.icon-envelope
              span.wgsn-font  Email
            li.text-uppercase
              i.icon.icon-print
              span.wgsn-font  Print
            li.text-uppercase
              i.icon.icon-heart
              span.wgsn-font  Add to Favourites

        h3 Related News
        hr
        +article-tile("Max Azria “no longer running” BCBG as Staff is appointed interim CEO", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/bcbg.png", "Nigel Taylor", "9 Hours Ago", "Retail", "Womenswear")
        +article-tile("John Lewis weekly sales recover on clearance, warm weather goods demand", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/john-lewis-.png", "Nigel Taylor", "9 Hours Ago", "Interiors", "Menswear", "Retail", "Womenswear")
        +article-tile("Asos powers ahead and no initial mention of Brexit", "https://www.wgsn.com/news/wp-content/uploads_21/2016/07/asos.png", "Nigel Taylor", "12.07.16", "Menswear", "Retail", "Womenswear")